db/orientdb/databases/*
db/orientdb/log/*
db/orientdb/bin/.orientdb_history
db/orientdb_testing/databases/*
db/orientdb_testing/log/*
db/orientdb_testing/bin/.orientdb_history
config.php
.project
.buildpath
.settings/*
tests/gloowa/outdated/*
