/*
 * POPUPS ---------------------------------------------------------------------
 */

.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.4);
}

.popup {
	margin: 100px auto;
	width: 500px;
	background: #FFF;
	border-radius: 6px;
	box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}

.popup > header {
	height: 35px;
	line-height: 35px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 6px 6px 0 0;
	padding: 0 20px;
}
.popup > header > h1 {
	font-weight: bold;
	font-size: 16px;
}
.popup > .content {
	padding: 10px 20px;
}


/*
 * SECTIONS -------------------------------------------------------------------
 */

.section > h1 {
	font-weight: bold;
	box-shadow: 0 0 3px #000;
	border: solid 1px #FFF;
	border-width: 1px 0;
}
.section:first-child > h1 {
	border-top: none;
}
.section.l1 > h1 {
	padding: 5px 10px;
	color: #FFF;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	background-color: #A60;
	background-image: linear-gradient(bottom, #498EBC 0%, #9CE5FF 100%);
	background-image: -webkit-linear-gradient(bottom, #498EBC 0%, #9CE5FF 100%);
	background-image: -moz-linear-gradient(bottom, #498EBC 0%, #9CE5FF 100%);
}
.section.l2 > h1 {
	font-size: 12px;
	padding: 2px 10px;
	color: #000;
	background-color: #EEE;
	background-image: linear-gradient(bottom, #E0E0E0 0%, #F5F5F5 100%);
	background-image: -webkit-linear-gradient(bottom, #E0E0E0 0%, #F5F5F5 100%);
	background-image: -moz-linear-gradient(bottom, #E0E0E0 0%, #F5F5F5 100%);
}
.section .padded_content {
	padding: 5px 10px;
}
.section .scrolled {
	overflow: auto;
}

/*
 * STD table -------------------------------------------------------------------
 */

table.std {
	width: 100%;
}
table.std th,
table.std td {
	padding: 2px 3px;
	border: solid 1px #FFF;
	border-width: 0 1px 1px 0;
}
table.std th {
	font-weight: bold;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.25);
}
table.std tr:nth-child(odd) td {
	background-color: rgba(0, 0, 0, 0.025);
}
table.std tr:nth-child(even) td {
	background-color: rgba(0, 0, 0, 0.05);
}

table.std.hoverable tr:hover td {
	background-color: rgba(0, 110, 150, 0.2);
}
