body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

#top {
	height: 30px;
	line-height: 30px;
	border-bottom: solid 1px #EEE;
	box-sizing: border-box;
	background-color: #A60;
	background-image: linear-gradient(bottom, #A60 0%, #C70 100%);
	background-image: -webkit-linear-gradient(bottom, #A60 0%, #C70 100%);
	background-image: -moz-linear-gradient(bottom, #A60 0%, #C70 100%);
	color: #FFF;
	text-shadow: 0 0 1px #000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 100;
	position: relative;
}
#top a {
	color: #FFF;
}
#top h1 > a {
	font-weight: bold;
	padding: 0 15px;
}

#graph {
	position: absolute;
	top: 30px;
	left: 0;
	right: 300px;
	bottom: 0;
	background: #111;
	z-index: 10;
}
#graph_renderer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#sidebar {
	position: absolute;
	right: 0;
	top: 30px;
	bottom: 0;
	width: 300px;
	border-left: solid 1px #FFF;
	box-sizing: border-box;
	overflow: auto;
	background: #FFF;
	z-index: 10;
	font-size: 12px;
}

#flash {
	position: absolute;
	top: 30px;
	left: 0;
	right: 300px;
	z-index: 50;
	text-align: center;
}
#flash > .message {
	display: none;
	padding: 5px 20px;
	background: #CB0;
	color: #FFF;
	text-shadow: 0 0 1px #000;
	font-weight: bold;
	border-radius: 0 0 4px 4px;
	text-transform: uppercase;
	font-size: 12px;
}
#flash > .message.opened {
	display: inline-block;
}
