body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
}

#top {
	height: 30px;
	line-height: 30px;
	border-bottom: solid 1px #EEE;
	box-sizing: border-box;
	background-color: #A60;
	background-image: linear-gradient(bottom, #06A 0%, #0BF 100%);
	background-image: -webkit-linear-gradient(bottom, #06A 0%, #0BF 100%);
	background-image: -moz-linear-gradient(bottom, #06A 0%, #0BF 100%);
	color: #FFF;
	text-shadow: 0 0 1px #000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 100;
	position: relative;
}
#top h1 {
	float: left;
	margin-right: 20px;
}
#top a {
	color: #FFF;
}
#top a:hover {
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.25);
}
#top h1 > a {
	display: block;
	font-weight: bold;
	padding: 0 15px;
	font-size: 16px;
}

#menu li {
	float: left;
}
#menu li > * {
	display: inline-block;
	padding: 0 10px;
}


/*
 * MAIN Containers
 */

#graph {
	position: absolute;
	top: 30px;
	left: 0;
	right: 300px;
	bottom: 0;
	background: #111;
	z-index: 10;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
#graph_renderer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#graph_controls {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 50;
}

#sidebar {
	position: absolute;
	right: 0;
	top: 30px;
	bottom: 0;
	width: 300px;
	border-left: solid 1px #FFF;
	box-sizing: border-box;
	overflow: hidden;
	background: #FFF;
	z-index: 10;
}

#flash {
	position: absolute;
	top: 30px;
	left: 100px;
	right: 400px;
	z-index: 50;
	text-align: center;
}
#flash > .message {
	display: none;
	padding: 5px 20px;
	background: #CB0;
	color: #FFF;
	text-shadow: 0 0 1px #000;
	font-weight: bold;
	border-radius: 0 0 4px 4px;
	text-transform: uppercase;
}
#flash > .message.opened {
	display: inline-block;
}

/*
 * GRAPH controls --------------------------------------------------------------
 */

#graph_controls {
	background-color: rgba(100, 100, 100, 0.75);
	color: #FFF;
	border-radius: 3px;
	text-shadow: 0 0 1px #000;
}
#graph_controls > h1 {
	text-align: right;
	padding: 2px 10px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

#graph_controls > fieldset {
	display: none;
	margin: 2px 10px 5px;
	border: solid 1px rgba(255, 255, 255, 0.2);
	padding: 5px;
}
#graph_controls:hover > fieldset {
	display: block;
}
#graph_controls label {
	display: inline-block;
	min-width: 70px;
}
#graph_controls input {
	vertical-align: middle;
}
#graph_controls button {
	width: 100%;
	font-size: 12px;
	-moz-box-sizing: padding-box;
	-webkit-box-sizing: padding-box;
	box-sizing: padding-box;
}

/*
 * NODE info -------------------------------------------------------------------
 */

#node_info {
	position: absolute;
	z-index: 20;
	padding: 4px 0 0 4px;
	opacity: 0;
}
#node_info .box {
	background-color: rgba(100, 100, 100, 0.75);
	border-radius: 3px;
	padding: 4px 5px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
	color: #FFF;
	text-shadow: 0 0 1px #000;
	min-width: 200px;
	max-width: 300px;
}
#node_info.visible {
	opacity: 1;
}
#node_info .as_num {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 0 1px #000;
	font-size: 14px;
}
#node_info .hidden {
	display: none;
}

#node_info .gotos {
	margin: 5px -4px 0;
	border-top: solid 1px rgba(0, 0, 0, 0.25);
	padding: 4px 4px 0;
}
#node_info .gotos h1 {
	font-weight: bold;
}
