<div id="find_trees_form" class="fullscreen">
	<section class="popup">
		<header>
			<h1>Wyszukaj drzewa</h1>
		</header>
		<div class="content std_form">
			<% if (from) { %>
				<p><label>Z AS-a (korzeń):</label> <%= from %></p>
			<% } else { %>
				<p>
					<label for="popup_form_from">Z AS-a (korzeń):</label>
					<input type="text" value="1456" id="popup_form_from">
				</p>
			<% } %>
			<p>
				<label for="popup_form_height">Wysokość:</label>
				<input type="number" value="2" min="1" max="5" id="popup_form_height">
			</p>
			<p>
				<label for="popup_form_type">Typ połączeń:</label>
				<select id="popup_form_type">
					<option value="both">Upstream i Downstream</option>
					<option value="up">Upstream</option>
					<option value="down">Downstream</option>
				</select>
			</p>
			<p class="submit">
				<button type="submit">Szukaj</button>
			</p>
		</div>
	</section>
</div>
