<div id="graph_controls">
	<h1>Ustawienia</h1>
	<fieldset class="fog">
		<legend>Mgła</legend>
		<p><label>start:</label> <input type="range" min="0" max="100" class="near"></p>
		<p><label>koniec:</label> <input type="range" min="0" max="100" class="far"></p>
	</fieldset>
	<fieldset>
		<legend>Graf</legend>
		<p><label><input type="checkbox" class="show_nodes" checked="checked"> pokazuj AS-y</label></p>
		<p><label>AS-y:</label> <input type="range" min="0" max="100" class="nodes_size"></p>
		<p><label>krawędzie:</label> <input type="range" min="0" max="100" class="lines_opacity"></p>
	</fieldset>
</div>
