<div id="node_info">
	<div class="box">
		<p><a href="" class="as_num this">#</a></p>
		<p>Nazwa: <span class="as_name"></span></p>
		<div class="gotos">
			<h1>pokaż:</h1>
			<p>z głębokością: <a href="" class="as_num depth_shallower"></a> <a href="" class="as_num depth_equal"></a> <a href="" class="as_num depth_deeper"></a></p>
			<p>ścieżki z: <a href="" class="paths as_num"></a></p>
		</div>
	</div>
</div>
