<div id="start_form" class="fullscreen">
	<section class="popup">
		<header>
			<h1>Pokaż graf</h1>
		</header>
		<div class="content std_form">
			<p>
				<label for="popup_form_num">Numer AS:</label>
				<input type="text" name="number" value="<%= from %>" id="popup_form_num">
			</p>
			<p>
				<label for="popup_form_depth">Głębokość:</label>
				<input type="number" name="depth" value="2" max="8" min="1" id="popup_form_depth">
			</p>
			<p class="submit">
				<button type="submit">Pokaż</button>
			</p>
		</div>
	</section>
</div>
