<div id="start_form" class="fullscreen">
	<section class="popup">
		<header>
			<h1>Generuj graf</h1>
		</header>
		<div class="content">
			<p>Numer AS: <input type="text" name="number"></p>
			<p>Głębokość: <input type="number" name="depth" value="10" max="15" min="2"></p>
			<p class="submit">
				<button type="submit">Pokaż</button>
			</p>
		</div>
	</section>
</div>
